{% extends "layout.html" %}
{% block content %}
    <form class="form-horizontal" role="form">

        {% for phone in text.phone.all %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ phone.description }}</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ phone.phone }}</p>
                </div>
            </div>
        {% endfor %}
        {% for mail in text.email.all %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ mail.description }}</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ mail.address }}</p>
                </div>
            </div>
        {% endfor %}
        {% if text.description %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Описание проезда</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ text.description|safe }}</p>
                </div>
            </div>
        {% endif %}
        {% if text.additional_info %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Дополнительная информация</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ text.additional_info|safe }}</p>
                </div>
            </div>
        {% endif %}
        {% if text.map %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Схема проезда</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ text.map|safe }}</p>
                </div>
            </div>
        {% endif %}
    </form>

{% endblock %}